/*
   _vender
*/
.drawer-brand {
	font-size: 14px;
	font-weight: 500;

	padding: 0;

	color: $main-color;
}
@include  pc {
	.drawer--right .drawer-nav {
		right: auto;
	}

	.drawer-nav .drawer-menu li {
		display: inline-block;
	}
	.drawer-hamburger {
		display: none;
	}

	.drawer--left .drawer-nav {
		left: 0;
	}

	.drawer-nav {
		position: relative;

		width: auto;

		background-color: transparent;
		background-image: transparent;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}
@include  sp {
	.drawer--right .drawer-nav {
		z-index: 100;
		right: -300px;

		width: 300px;
		height: 100vh;
	}


	.drawer-hamburger {
		padding: 22px 10px 30px 0;
	}

	.drawer-hamburger-icon {
		width: 25px;
		height: 4px;

		border-radius: 4px;
		background-color: $main-color;

		&:before, &:after {
			width: 25px;
			height: 4px;

			border-radius: 4px;
			background-color: $main-color;
		}
		&:after {
			top: 8px;
		}
		&::before {
			top: -8px;
		}
	}
	.drawer--right .drawer-hamburger, .drawer--right.drawer-open .drawer-nav, .drawer--right.drawer-open .drawer-navbar .drawer-hamburger {
		right: 0;
	}

	.drawer-nav {
		position: fixed;
		z-index: 2;
		top: 0;

		overflow: hidden;

		height: 100%;

		color: #222;
		background-color: #fff;
	}

	.drawer--right.drawer-open .drawer-hamburger-icon:before, .drawer--right.drawer-open .drawer-hamburger-icon:after {
		background-color: $base-color;
	}
	.drawer--right.drawer-open .drawer-hamburger {
		right: 320px;

		padding: 30px 2rem 30px;
	}

	.drawer-overlay {
		opacity: .6;
		background-color: darken($base-color,50%);
	}
}



/*
   _vender-end
*/