@charset "UTF-8";
/* ==========================================================================
   foundation

   ========================================================================== */
/*
   _mixin
*/
/*
   _mixin-end
*/
/*
   _font
*/
/*
   _font-end
*/
/*
   _color
*/
/*
   _color-end
*/
/*
   _base
*/
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  line-height: 2.0;
  margin: 0;
  padding: 0;
  letter-spacing: .05em;
  color: #333;
}

h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0 0 1em 0;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: .6;
}

section {
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  section {
    margin-bottom: 60px;
  }
}

.inner {
  width: 1080px;
  max-width: 90%;
  margin: 0 auto;
}

/*
   _base-end
*/
/*
   _vender
*/
.drawer-brand {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  color: #333;
}

@media (min-width: 769px) {
  .drawer--right .drawer-nav {
    right: auto;
  }
  .drawer-nav .drawer-menu li {
    display: inline-block;
  }
  .drawer-hamburger {
    display: none;
  }
  .drawer--left .drawer-nav {
    left: 0;
  }
  .drawer-nav {
    position: relative;
    width: auto;
    background-color: transparent;
    background-image: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .drawer--right .drawer-nav {
    z-index: 100;
    right: -300px;
    width: 300px;
    height: 100vh;
  }
  .drawer-hamburger {
    padding: 22px 10px 30px 0;
  }
  .drawer-hamburger-icon {
    width: 25px;
    height: 4px;
    border-radius: 4px;
    background-color: #333;
  }
  .drawer-hamburger-icon:before, .drawer-hamburger-icon:after {
    width: 25px;
    height: 4px;
    border-radius: 4px;
    background-color: #333;
  }
  .drawer-hamburger-icon:after {
    top: 8px;
  }
  .drawer-hamburger-icon::before {
    top: -8px;
  }
  .drawer--right .drawer-hamburger, .drawer--right.drawer-open .drawer-nav, .drawer--right.drawer-open .drawer-navbar .drawer-hamburger {
    right: 0;
  }
  .drawer-nav {
    position: fixed;
    z-index: 2;
    top: 0;
    overflow: hidden;
    height: 100%;
    color: #222;
    background-color: #fff;
  }
  .drawer--right.drawer-open .drawer-hamburger-icon:before, .drawer--right.drawer-open .drawer-hamburger-icon:after {
    background-color: #dedede;
  }
  .drawer--right.drawer-open .drawer-hamburger {
    right: 320px;
    padding: 30px 2rem 30px;
  }
  .drawer-overlay {
    opacity: .6;
    background-color: #5f5f5f;
  }
}

/*
   _vender-end
*/
/* ==========================================================================
      Layout

========================================================================== */
/*
   _l-footer
*/
.l-footer--inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 50px 0;
}

@media (max-width: 768px) {
  .l-footer--inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
  }
}

/*
   _l-footer-end
*/
/*
   _header
*/
.l-header {
  width: 100%;
}

/*
   _header-end
*/
/* ==========================================================================
      Object

========================================================================== */
/* Component
      ---------------------------------------------------------------- */
/*
   _list
*/
.c-list {
  font-size: 14px;
  display: -webkit-box;
  display: flex;
}

/*
   _list
*/
/*
   _heading
*/
.c-title {
  font-size: 20px;
  text-align: center;
}

/*
   _heading-end
*/
/* project
      ---------------------------------------------------------------- */
/*
   _main
*/
/*=========  header ===========*/
.p-header-inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.p-header-nav {
  font-size: 14px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 100px;
  white-space: nowrap;
}

.p-header-list {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.p-header-list--item {
  margin-right: 30px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .p-header-list {
    z-index: 9999;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
  }
  .p-header-list__item {
    font-size: 14px;
    display: block;
  }
  .p-header-list__anchor {
    text-decoration: none;
  }
  .p-header-list__anchor:link, .p-header-list__anchor:visited, .p-header-list__anchor:active {
    color: #333;
  }
  .p-header-list__anchor:hover {
    opacity: .6;
    color: #333;
  }
}

/*========= main-visual ===========*/
.p-main-visual {
  position: relative;
  height: 600px;
}

.p-main-visual--img {
  width: 70%;
  height: 500px;
  margin-left: 30%;
  -o-object-fit: cover;
  object-fit: cover;
}

.p-main-visual--bg {
  position: absolute;
  z-index: -1;
  top: -18%;
  left: 0;
  width: 45%;
  height: 700px;
  background: #ffdfa2;
}

.p-main-visual--title {
  font-size: 3rem;
  position: absolute;
  top: 30%;
  left: 20%;
  padding: 1rem;
  white-space: nowrap;
  background: rgba(255, 255, 255, 0.6);
}

@media (max-width: 768px) {
  .p-main-visual {
    height: 384px;
    background: transparent url(../image/index_header01.jpg) no-repeat center center/cover;
  }
  .p-main-visual--img {
    display: none;
  }
  .p-main-visual--bg {
    display: none;
  }
  .p-main-visual--title {
    font-size: 30px;
    top: 50%;
    left: 50%;
    padding: .5rem;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

/*========= greeting ===========*/
.p-greeting--box {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.p-greeting--box__img {
  width: 40%;
  -o-object-fit: cover;
  object-fit: cover;
}

.p-greeting--box__description {
  width: 48%;
}

.p-greeting--title {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .p-greeting--box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .p-greeting--box__img {
    width: 80%;
  }
  .p-greeting--box__description {
    width: 80%;
  }
}

/*========= work ===========*/
.p-work {
  position: relative;
  width: 100%;
}

.p-work::before {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 300px;
  content: "";
  background: #ffdfa2;
}

.p-work--title {
  margin-bottom: 60px;
}

.p-work-list {
  justify-content: space-around;
  margin: 0 auto;
}

.p-work-list--item {
  width: 300px;
}

.p-work-list--item figure {
  text-align: center;
}

.p-work-list--item__text {
  font-size: 12px;
  padding: 20px 0;
}

.p-work-list--item__img {
  width: 100%;
  height: 200px;
}

@media (max-width: 768px) {
  .p-work {
    background: #ffdfa2;
  }
  .p-work::before {
    display: none;
  }
  .p-work-list {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: 60px;
  }
  .p-work-list--item {
    width: 350px;
    max-width: 100%;
  }
  .p-work-list--item__title {
    padding-bottom: 10px;
    text-align: center;
  }
  .p-work-list--item__text {
    margin: 0;
    padding: 0 0 30px 0;
    text-align: center;
    line-break: strict;
  }
  .p-work-list--item__img {
    height: auto;
    padding: 20px 0;
  }
}

/*========= news ===========*/
.news-inner {
  margin-bottom: 180px;
}

.p-news--title {
  margin-bottom: 50px;
}

.p-news-list--item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: dotted 1px #dedede;
}

.p-news-list--item__anchor {
  color: #333;
}

.p-news-list--item__anchor:hover {
  opacity: .6;
}

time {
  font-size: .75em;
  margin-right: 100px;
  padding-right: 0px;
  color: #929292;
}

@media (max-width: 768px) {
  .news-inner {
    margin-bottom: 0;
  }
  time {
    margin-right: 20px;
  }
}

/*========= recruit ===========*/
.recruit {
  position: relative;
}

.recruit-img--box__img {
  width: 70%;
  height: 500px;
  margin-right: 20%;
  -o-object-fit: cover;
  object-fit: cover;
}

.recruit--bg {
  position: absolute;
  z-index: -1;
  top: -20%;
  right: 0;
  width: 45%;
  height: 500px;
  background: #ffdfa2;
}

.recruit--title__anchor {
  line-height: 60px;
  position: absolute;
  top: 44%;
  right: 60%;
  width: 250px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 768px) {
  .recruit {
    height: 262px;
    background: transparent url(../image/index_recruit01.jpeg) no-repeat center center/cover;
  }
  .recruit-img--box {
    display: none;
  }
  .recruit--bg {
    display: none;
  }
  .recruit--title__anchor {
    top: 50%;
    left: 50%;
    width: 200px;
    padding: .1rem;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

/*=========  footer ===========*/
.p-footer-address__text {
  line-height: 1.8;
}

.p-footer-copylight__text {
  font-size: .75rem;
  line-height: 100px;
  margin: 0;
  text-align: center;
  color: #333;
  background-color: #ffdfa2;
}

.p-footer-list--item {
  margin-right: 20px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .p-footer-address {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
  .p-footer-list--item {
    display: none;
  }
}

/*
   _main
*/
/* utility
      ---------------------------------------------------------------- */
