/*
   _main
*/

/*=========  header ===========*/
.p-header-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.p-header-nav {
	font-size: 14px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 100px;

	white-space: nowrap;
}



.p-header-list {
	align-items: center;
	justify-content: space-between;


	&--item {
		margin-right: 30px;

		white-space: nowrap;
	}
}
@include  sp {
	.p-header-list {
		z-index: 9999;

		flex-direction: column;

		width: 100%;


		&__item {
			font-size: 14px;

			display: block;
		}
		&__anchor {
			text-decoration: none;
			&:link, &:visited, &:active {
				color: $main-color;
			}

			&:hover {
				opacity: .6;
				color: $main-color;
			}
		}
	}
}


/*========= main-visual ===========*/

.p-main-visual {
	position: relative;

	height: 600px;


	&--img {
		width: 70%;
		height: 500px;
		margin-left: 30%;

		object-fit: cover;
	}


	&--bg {
		position: absolute;
		z-index: -1;
		top: -18%;
		left: 0;

		width: 45%;
		height: 700px;

		background: $accent-color;
	}
	&--title {
		font-size: 3rem;

		position: absolute;
		top: 30%;
		left: 20%;

		padding: 1rem;

		white-space: nowrap;

		background: rgba(255,255,255, .6);
	}
}

@include  sp {
	.p-main-visual {
		height: 384px;

		background: transparent url(../image/index_header01.jpg) no-repeat center center/cover;
		&--img {
			display: none;
		}
		&--bg {
			display: none;
		}
		&--title {
			font-size: 30px;

			top: 50%;
			left: 50%;

			padding: .5rem;

			transform: translate(-50%, -50%);
		}
	}
}


/*========= greeting ===========*/

.p-greeting--box {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	margin: 0 auto;


	&__img {
		width: 40%;

		object-fit: cover;
	}
	&__description {
		width: 48%;
	}
}

.p-greeting--title {
	margin-bottom: 50px;
}


@include sp {
	.p-greeting--box {
		flex-direction: column;
		&__img {
			width: 80%;
		}
		&__description {
			width: 80%;
		}
	}
}

/*========= work ===========*/
.p-work {
	position: relative;

	width: 100%;





	&::before {
		position: absolute;
		z-index: -1;

		width: 100%;
		height: 300px;

		content: "";

		background: $accent-color;
	}

	&--title {
		margin-bottom: 60px;
	}


	&-list {
		justify-content: space-around;

		margin: 0 auto;

		&--item {
			width: 300px;

			figure {
				text-align: center;
			}

			&__text {
				font-size: 12px;

				padding: 20px 0;
			}
			&__img {
				width: 100%;
				height: 200px;
			}
		}
	}
}
@include sp {
	.p-work {
		background: $accent-color;
		&::before {
			display: none;
		}
		&-list {
			align-items: center;
			flex-direction: column;
			justify-content: center;

			padding-bottom: 60px;
		}
		&--item {
			width: 350px;
			max-width: 100%;
		}
		&__title {
			padding-bottom: 10px;

			text-align: center;
		}
		&__text {
			margin: 0;
			padding: 0 0 30px 0;

			text-align: center;

			line-break: strict;
		}
		&__img {
			height: auto;
			padding: 20px 0;
		}
	}
}




/*========= news ===========*/

.news-inner {
	margin-bottom: 180px;
}

.p-news--title {
	margin-bottom: 50px;
}

.p-news-list--item {
	padding-top: 20px;
	padding-bottom: 20px;

	border-bottom: dotted 1px #dedede;
	&__anchor {
		color: $main-color;
		&:hover {
			opacity: .6;
		}
	}
}
time {
	font-size: .75em;

	margin-right: 100px;
	padding-right: 0px;

	color: darken($base-color,30%);
}

@include sp {
	.news-inner {
		margin-bottom: 0;
	}
	time {
		margin-right: 20px;
	}
}

/*========= recruit ===========*/

.recruit {
	position: relative;


	&-img--box__img {
		width: 70%;
		height: 500px;
		margin-right: 20%;

		object-fit: cover;
	}

	&--bg {
		position: absolute;
		z-index: -1;
		top: -20%;
		right: 0;

		width: 45%;
		height: 500px;

		background: $accent-color;
	}
	&--title__anchor {
		line-height: 60px;

		position: absolute;
		top: 44%;
		right: 60%;

		width: 250px;

		text-align: center;

		background-color: rgba(255, 255, 255, .6);
	}
}
@include sp {
	.recruit {
		height: 262px;

		background: transparent url(../image/index_recruit01.jpeg) no-repeat center center/cover;
		&-img--box {
			display: none;
		}
		&--bg {
			display: none;
		}
		&--title__anchor {
			top: 50%;
			left: 50%;

			width: 200px;
			padding: .1rem;

			transform: translate(-50%, -50%);
		}
	}
}


/*=========  footer ===========*/



.p-footer-address__text {
	line-height: 1.8;
}

.p-footer-copylight__text {
	font-size: .75rem;
	line-height: 100px;

	margin: 0;

	text-align: center;

	color: $main-color;
	background-color: $accent-color;
}

.p-footer-list--item {
	margin-right: 20px;

	white-space: nowrap;
}

@include sp {
	.p-footer-address {
		display: flex;
		align-items: flex-end;
		flex-direction: row-reverse;
		justify-content: space-between;

		width: 100%;
	}
	.p-footer-list--item {
		display: none;
	}
}

/*
   _main
*/